@{
    ViewData["Title"] = "View Submissions";
}
<h1>@ViewData["Title"]</h1>
@model IEnumerable<Restaurant4.Models.Restaurants> 

<div>
    <h2>
        Here are all the restaurant submissions!
    </h2>
    <table class="table"> @*added some bootstrap here*@
        <thead>
            <tr><th>Name</th><th>Restaurant Name</th><th>Favorite Dish</th><th>Restaurant Phone #</th></tr>
        </thead>

        <tbody>
            @foreach (Restaurant4.Models.Restaurants x in Model)
            {
                <tr>
                    <td style="padding: 0 15px;">@x.Name</td>
                    <td style="padding: 0 15px;">@x.RestaurantName</td>
                    <td>@x.FavoriteDish</td>
                    <td>@x.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
</div>